
<div class="headline">
	
	<div class="user">
		<img src="{{ user.picture.large }}" alt="Profile Picture">
		<p class="name">{{ user.name.first}} {{ user.name.last}}</p>
		<p>{{ user.gender }}</p>
	</div>

</div>

<p>{{ user.email }}</p>

<p> {{ user.location.city}}, {{ user.location.state }}</p>


<div id="map">
	

</div>

<script>
    var userPostcode = "{{ user.location.postcode }}";
    var x = "{{ googleKey }}"
</script>
<script src="./javascript/index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkU8buF94qfbU_Nwr2yAeiuRnILgR-zMM&callback=initMap" async defer></script>