<h1>Example App: Home</h1>

<p>{{ name.title }} {{ name.first}} {{ name.last}}</p>
<p>{{ gender }}</p>

<p>{{ email }}</p>

<img src="{{ picture.large }}" alt="Profile Picture">

<p> {{ location.city}}, {{ location.state }}</p>